// Colour Palette - From https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-050b61-105e7f-1c2f4a-d3d3d3-ffffff
/* SCSS HEX */
$background-colour: #0b090aff; 
$element-background: #161a1dff;
$highlight-red: #660708ff;
$ruby-red: #a4161aff;
$carnelian: #ba181bff;
$link-button: #050b61ff;
$highlight-blue: #105e7fff;
$prussian-blue: #1c2f4aff;
$border-colour: #d3d3d3ff;
$text-colour: #ffffffff;

// Fonts
// font-family: 'Amiri', serif;

// font-family: 'Caveat', cursive;

// font-family: 'Quicksand', sans-serif;

// This is overriding my nested headings. Is this
// h2, h3, h4, {
//     font-family: "Quicksand", sans-serif;
// }

h2, h3, h4, a {
    font-family: "Quicksand";
}
h2, h3, h4 {
    text-align: center;
}
p {
    font-family: "Amiri", Georgia, serif;
}

body {
    background-color: $background-colour;
    color: $text-colour;
}
@mixin link-button {
    color: $text-colour;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
    border: 2px solid $border-colour;
    background-color: $link-button;
    width: 200px;    
}
a {
    color: $text-colour;
    text-decoration: none;
}

// Navigation
nav {
    // Why "black" background?
    background-color: black;
    position: fixed;
    top: 0;
    #nav-items {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: $element-background;
        /* Toggle Show/Hide Menu */
        display: none;
    }
    input:checked ~ #nav-items { display: block; }
    a {
        @include link-button;
        background-color: $highlight-red;
    }
    
    a:hover {
        background-color: $highlight-blue;
    }
    .active {
        background-color: $highlight-red;
    }
    /* Show Hamburger Icon */
    label { 
        display: inline-block; 
        color: $text-colour;
        background: $highlight-red;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
}

// Hamburger Menu

/* hide checkbox */
#hamburger {
    display: none;
}

// Name in Header
h1 {
    font-family: "Caveat", cursive, sans-serif;
    font-size: 50px;
    text-align: center;
    display: none;
}

// Page Name
.page-name {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

// Footer
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

// Pictures and Icons
img {
    border: 2px solid $border-colour;
}
#andrew-photo {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

.icon {
    height: 50px;
}

// Icon Backgrounds

#html5 {
    background-color:#E34F26;
}
#css3 {
    background-color: #1572B6;
}
#linux {
    background-color: #FCC624;
}
#twitter {
    background-color: #1DA1F2;
}
#linkedin {
    background-color: #0077B5;
}
#github {
    background-color: #181717;
}
#gmail {
    background-color: #D14836;
}

.project-img {
    width: 100%;
    max-width: 500px;
}

.blog-img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
}
// Homepage

// Introduction Section

// Introduction animations
@keyframes introduction {
    0% {color: $background-colour;}
    100% {color: $text-colour;}
}
@keyframes introduction-button {
    0% {color: $background-colour; background-color: $background-colour;}
    100% {color: $text-colour; background-color: $link-button}
}

#introduction {
    color: $background-colour;
    text-align: center;
}
.introduction {
    font-family: "Caveat", cursive, sans-serif;
}
    #intro1 {
        animation-name: introduction;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        font-size: 80px;
    }
    #intro2 {
        animation-name: introduction;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        font-size: 50px;
    }
    #intro3 {
        animation-name: introduction;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        font-size: 30px;
    }
    #intro-contact {
        color: $background-colour;
        animation-name: introduction-button;
        animation-duration: 5s;
        animation-delay: 7s;
        animation-fill-mode: forwards;
        padding: 10px;
        font-size: 25px;
    }
    // get intro contact to change to hover colour when hovered over

// Feature Heading
.feature-heading {
    text-align: center;
    margin-top: 50px;
    }
    // Feature Section
#feature {
    background-color: $element-background;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    h3 {
        text-align: center;
    }
}


// About Page
// Social Media Icons
.icon-flex {
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
#history-interests{
    background-color: $element-background;
}
#resume {
    @include link-button;
    margin: auto;
}

// Projects Page
.blog-list {
    margin: 10px;
    padding: 10px;
    max-width: 100%;
}
.blog-preview {
    margin: 5px;
    border: 2px solid $border-colour;
    padding: 10px;
    background-color: $element-background;
    a {
        @include link-button;
        margin: auto;
    }
}

// Blog Page

.date {
    text-align: right;
    font-size: 12px;
    color: $border-colour;
}

// Blog Post
.blog-post {
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 2px solid $border-colour;
    a {
        @include link-button;
        margin: 10px;
    }
}
.post-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
// Contact Page
// Form label above fields
label {
    // Moves labels from alongside to on top of fields
    display: flex;
    // moves Your message label to top of message field
    vertical-align: top;
}
input {
    margin: 5px;
    // width: 50%;
}
#submit {
    width: 100px;
}
#contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// // Form Alignment
form {
    width: 50%;
}

// Media Query for Tablets
@media only screen and (min-width: 768px) {
    h1 {
        display: block;
        margin-left: 25%;
    }

    #nav-items {
        width: 25%;
        height: 100%;
        position: fixed;
        display: block;
    }
    nav label { 
        display: none;
    }
    nav input:not(:checked) ~ #nav-items { display: block; }

    a {
        margin: 10px;
    }
    // Avoid menu overlapping content in tablet view
    .body-content {
        margin-left: 25%;
    }
    .icon {
        height: 100px;
    }
    .blog-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .blog-preview {
        max-width: 40%;
        min-width: 225px;
    }
}
// Media Query for Large Screens
@media only screen and (min-width: 1280px) {
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  position: static;
  width: 100%;
}
nav input:not(:checked) ~ #nav-items { display: flex; }
nav input:checked ~ #nav-items { display: flex; }
.body-content {
    margin-left: 0px;
}
.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: static;
}
h1 {
    margin-left: 0%;
}
   // Avoid menu overlapping content in tablet view
   .body-content {
    margin-left: 0%;
}
article {
    width: 80%;
    justify-content:center;
}
.blog-preview {
    width: 30%;
}
// Contact Page
// Form label next to fields
label {
    display: inline-block;
    width: 130px;
    text-align: right;
}
// Move icons to the side
#contact-flex {
    flex-direction: row;
}
// Make icons vertical
#contact-icons {
    flex-direction: column;
}
}