/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
h1 {
  font-family: "Caveat", cursive, sans-serif;
  text-align: center;
  font-size: 50px;
  display: none;
}

h2, h3, h4 {
  font-family: "Quicksand", Arial, sans-serif;
  text-align: center;
}

a {
  font-family: "Quicksand", Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  background-color: #105e7fff;
}

p {
  font-family: "Amiri", Georgia, serif;
}

body {
  background-color: #0b090aff;
  color: #ffffffff;
}

nav {
  position: fixed;
  top: 0;
}

.nav-items {
  background-color: #161a1dff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Toggle Show/Hide Menu */
  display: none;
}

input:checked ~ .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #ffffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  border: 2px solid #d3d3d3ff;
  background-color: #050b61ff;
  width: 150px;
  background-color: #660708ff;
  border: none;
}

/* Show Hamburger Icon */
label {
  display: inline-block;
  color: #ffffffff;
  background: #660708ff;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}

#hamburger {
  display: none;
}

.active {
  background-color: #660708ff;
}

.page-name {
  font-size: 40px;
  margin: 10px;
}

footer {
  width: 100%;
  text-align: center;
}

img {
  border: 2px solid #d3d3d3ff;
  margin: auto;
}

#andrew-photo {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

.icon {
  width: 50px;
  border: none;
  margin: auto;
  display: block;
}

figure {
  border: 2px solid #d3d3d3ff;
  margin: 0;
  padding: 5px;
  display: block;
}

figure p {
  margin: 2px;
  font-weight: bold;
  text-align: center;
  color: #ffffffff;
}

#html5 {
  background-color: #E34F26;
}

#css3 {
  background-color: #1572B6;
}

#linux {
  background-color: #FCC624;
}

#twitter {
  background-color: #1DA1F2;
}

#linkedin {
  background-color: #0077B5;
}

#github {
  background-color: #181717;
}

#gmail {
  background-color: #D14836;
}

.project-img {
  width: 100%;
  max-width: 500px;
}

.blog-img {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}

@-webkit-keyframes introduction {
  0% {
    color: #0b090aff;
  }
  100% {
    color: #ffffffff;
  }
}

@keyframes introduction {
  0% {
    color: #0b090aff;
  }
  100% {
    color: #ffffffff;
  }
}

@-webkit-keyframes introduction-button {
  0% {
    color: #0b090aff;
    background-color: #0b090aff;
  }
  100% {
    color: #ffffffff;
    background-color: #050b61ff;
  }
}

@keyframes introduction-button {
  0% {
    color: #0b090aff;
    background-color: #0b090aff;
  }
  100% {
    color: #ffffffff;
    background-color: #050b61ff;
  }
}

#introduction {
  color: #0b090aff;
  min-height: 70vh;
  text-align: center;
  margin-bottom: 50px;
}

.introduction {
  font-family: "Caveat", cursive, sans-serif;
}

#intro1 {
  -webkit-animation-name: introduction;
          animation-name: introduction;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 80px;
}

#intro2 {
  -webkit-animation-name: introduction;
          animation-name: introduction;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 50px;
}

#intro3 {
  -webkit-animation-name: introduction;
          animation-name: introduction;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 30px;
}

#intro-contact {
  -webkit-animation-name: introduction-button;
          animation-name: introduction-button;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding: 10px;
  font-size: 25px;
  margin: auto;
}

.feature-heading {
  text-align: center;
}

#homepage-feature a {
  margin: auto;
}

.icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

#history-interests {
  background-color: #161a1dff;
}

#resume {
  color: #ffffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  border: 2px solid #d3d3d3ff;
  background-color: #050b61ff;
  width: 150px;
  margin: auto;
}

.blog-list {
  margin: 10px;
  padding: 10px;
  max-width: 100%;
}

.blog-preview {
  margin: 5px;
  border: 2px solid #d3d3d3ff;
  padding: 10px;
  background-color: #161a1dff;
}

.blog-preview a {
  color: #ffffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  border: 2px solid #d3d3d3ff;
  background-color: #050b61ff;
  width: 150px;
  margin: auto;
}

.date {
  text-align: right;
  font-size: 12px;
  color: #d3d3d3ff;
}

.blog-post {
  width: 80%;
  margin: auto;
  padding: 10px;
  border: 2px solid #d3d3d3ff;
  background-color: #161a1dff;
}

.blog-post a {
  color: #ffffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px;
  border: 2px solid #d3d3d3ff;
  background-color: #050b61ff;
  width: 150px;
  margin: 10px;
}

.post-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
}

input {
  margin: 5px;
}

#submit {
  width: 100px;
}

#contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  h1 {
    display: block;
    margin-left: 25%;
  }
  .nav-items {
    width: 25%;
    height: 100%;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
  }
  nav label {
    display: none;
  }
  nav input:not(:checked) ~ .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  a {
    margin: 10px;
  }
  .body-content {
    margin-left: 25%;
  }
  .icon {
    height: 100px;
  }
  .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-preview {
    display: block;
    max-width: 40%;
    min-width: 225px;
  }
}

@media only screen and (min-width: 1280px) {
  .body-content {
    margin-left: 0px;
  }
  .nav-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
  }
  h1 {
    margin-left: 0%;
  }
  .body-content {
    margin-left: 0%;
  }
  article {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-preview {
    width: 30%;
  }
  label {
    display: inline-block;
    width: 130px;
    text-align: right;
  }
  #contact-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */