// Colour Palette - From https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-050b61-105e7f-1c2f4a-d3d3d3-ffffff
/* SCSS HEX */
$rich-black-fogra-39: #0b090aff;
$eerie-black: #161a1dff;
$blood-red: #660708ff;
$ruby-red: #a4161aff;
$carnelian: #ba181bff;
$midnight-blue: #050b61ff;
$blue-sapphire: #105e7fff;
$prussian-blue: #1c2f4aff;
$light-gray: #d3d3d3ff;
$white: #ffffffff;

// Fonts
// font-family: 'Amiri', serif;

// font-family: 'Caveat', cursive;

// font-family: 'Quicksand', sans-serif;

#andrew-photo {
    width: 300px;
    height: auto;
}

.icon {
    height: 50px;
}